<header>
    <div class="title">
        {{ if $.Scratch.Get "h1" }}
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ $.Scratch.Set "h1" false }}
        {{ else }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ end }}
        {{ with .Description }}
            <p>{{ . }}</p>
        {{ end }}
    </div>
    <div class="meta">
        {{ if .Site.Params.orderByPublishDate }}
            {{ $.Scratch.Set "dateType" .PublishDate }}
        {{ else }}
            {{ $.Scratch.Set "dateType" .Date }}
        {{ end }}

        <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
            {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}
        </time>
        <div class="author">
            {{ $author := index .Site.Data.cevo.people .Params.author }}
            {{ if $author }}
                <img class="avatar img-circle hidden-sm" src="{{ printf "img/team/%s" $author.avatar | absURL }}">
                <p class="name">{{ $author.name }}</p>

                <ul class="list-inline social-buttons">
                {{ range $author.socials }}
                    <li><a href="{{ .url }}"><img src="/img/icons/{{ .icon_class }}.svg" height="20" width="23"></img></a></li>
                {{ end }}
                </ul>
            {{ else }}
                <!-- unknown person -->
                <p class="name">{{ .Params.author }}</p>
            {{ end }}
        </div>

        {{ if .Site.Params.includeReadingTime }}
            <p>{{ .ReadingTime }} minute read</p>
        {{ end }}    </div>
</header>
