<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ $.Scratch.Set "post" true }}
  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    <header class="hero small-header"></header>
    {{ partial "nav" . }}

    <div class="container">
      {{ if .Params.draft }}
      <article class="post draft">
      {{ else }}
      <article class="post">
      {{ end }}
        {{ $.Scratch.Set "h1" true }}
        {{ .Render "header" }}
        {{ .Render "feature-img" }}
        <div id="content">
            {{ .Content }}
        </div>

        <footer>
            {{ .Render "footer-category" }}
        </footer>

      </article>
    </div>
    {{ partial "contact" . }}
    {{ partial "footer" . }}
    {{ partial "js" . }}
  </body>
</html>
