.news .row .published {
  color: #3c3b3b;
  display: block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  letter-spacing: 0.25em;
  margin-top: 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
}