{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
        <ul class="list-inline">
          {{ range .Site.Params.footer.locations }}
            <li>{{ .  | markdownify }}</a></li>
          {{ end }}
          <li>
            <img src="/img/icons/fa-phone.svg" height="8" width="8"></img>
            &nbsp;
            {{ with .Site.Params.footer.phone }}{{ . | markdownify }}{{ end }}
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">

          {{ range .Site.Params.footer.social }}
            <li><a href="{{ .link }}"><img src="/img/icons/{{ .icon }}.svg" height="20" width="23"></img></a></li>
          {{ end }}

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          {{ range .Site.Params.footer.quicklinks }}
            <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-4">
          <ul class="list-inline quicklinks legal-links">
              <li><a href="{{ "/legal/terms-of-use" | absURL }}">Terms of Use</a></li>
              <li><a href="{{ "/legal/privacy-policy" | absURL }}">Privacy Policy</a></li>
              <li><a href="{{ "/legal/environmental-policy" | absURL }}">Environmental Policy</a></li>
          </ul>
        </div>
    </div>
  </div>
</footer>
