<article class="post case-flex-item testimonial-panel">
  <div class="testimonial-icon-container">
    {{ if .Params.img }}
      {{ $url := printf "img/logos/%s" .Params.img }}
      <img src="{{ $url | absURL }}" alt="" class="testimonial-icon">
    {{ end }}
  </div>
    <p>{{ .Content | markdownify }}</p>

    <footer>
        <ul class="actions">
            <li>-- {{ .Params.author }}</li>
            <li>{{ .Params.position }}</li>
        </ul>
    </footer>
    <footer>
        <ul class="stats">
            <li>Category</li>
            {{ with .Params.testimonials }}
            <li><a href='{{ add "/testimonials/" . | urlize }}'>{{ . }}</a></li>
            {{ end }}
        </ul>
    </footer>
</article>
