<article class="post case-flex-item" style="margin: 17px; padding: 15px; border: solid lightgray 1px">
  <div class="testimonial-icon" style="display: block; margin-left: auto; margin-right: auto; height: 70px">
    {{ if .Params.img }}
      {{ $url := printf "img/logos/%s" .Params.img }}
      <img src="{{ $url | absURL }}" alt="" style="max-height: 50px">
    {{ end }}
  </div>
    <p>{{ .Content | markdownify }}</p>

    <footer>
        <ul class="actions">
            <li>-- {{ .Params.author }}</li>
            <li>{{ .Params.position }}</li>
        </ul>
    </footer>
    <footer>
        <ul class="stats">
            <li>Category</li>
            {{ with .Params.testimonials }}
            <li><a href='{{ add "/testimonials/" . | urlize }}'>{{ . }}</a></li>
            {{ end }}
        </ul>
    </footer>
</article>
