<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head" . }}

  <body id="page-top" class="bg-light-gray">
    {{ partial "nav" . }}
    <header class="hero small-header"></header>
    <div class="container">
      <h1 style="text-align: center;">What our customers say about our services</h1>
        <div class="case-flex-row">
        {{ range .Data.Pages }}
            {{ .Render "content-list" }}
        {{ end }}
      </div>
    </div>
    {{ partial "contact" . }}
    {{ partial "footer" . }}
    {{ partial "js" . }}
  </body>
</html>
